<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<div class="col-sm-4">
<%= pie_chart Truckmetric.where(date: "2014-03-01".to_datetime, equipment: "TR021").group(:status_category).sum(:duration), library: {title: "TR021", legend: "none"}
 %>
</div>
<div class="col-sm-4">
<%= pie_chart Truckmetric.where(date: "2014-03-01".to_datetime, equipment: "TR022").group(:status_category).sum(:duration), library: {title: "TR022", legend: "none"}
 %>
 </div>
<div class="col-sm-4">
 <%= pie_chart Truckmetric.where(date: "2014-03-01".to_datetime, equipment: "TR025").group(:status_category).sum(:duration), library: {title: "TR025", legend: "none"}
 %>
 </div>
<div class="col-sm-4">
 <%= pie_chart Truckmetric.where(date: "2014-03-01".to_datetime, equipment: "TR026").group(:status_category).sum(:duration), library: {title: "TR026", legend: "none"}
 %>
</div>
<div class="col-sm-4">
 <%= pie_chart Truckmetric.where(date: "2014-03-01".to_datetime, equipment: "TR027").group(:status_category).sum(:duration), library: {title: "TR027", legend: "none"}
 %>
</div>
<div class="col-sm-4">
 <%= pie_chart Truckmetric.where(date: "2014-03-01".to_datetime, equipment: "TR028").group(:status_category).sum(:duration), library: {title: "TR028", legend: "none"}
 %>
</div>
<div class="col-sm-4">
 <%= pie_chart Truckmetric.where(date: "2014-03-01".to_datetime, equipment: "TR029").group(:status_category).sum(:duration), library: {title: "TR029", legend: "none"}
 %>
</div>
<div class="col-sm-4">
 <%= pie_chart Truckmetric.where(date: "2014-03-01".to_datetime, equipment: "TR030").group(:status_category).sum(:duration), library: {title: "TR030", legend: "none"}
 %>
</div>
<div class="col-sm-4">
 <%= pie_chart Truckmetric.where(date: "2014-03-01".to_datetime, equipment: "TR031").group(:status_category).sum(:duration), library: {title: "TR031", legend: "none"}
 %>
</div>
<div class="col-sm-4">
 <%= pie_chart Truckmetric.where(date: "2014-03-01".to_datetime, equipment: "TR032").group(:status_category).sum(:duration), library: {title: "TR032", legend: "none"}
 %>
</div>
<div class="col-sm-4">
 <%= pie_chart Truckmetric.where(date: "2014-03-01".to_datetime, equipment: "TR201").group(:status_category).sum(:duration), library: {title: "TR201", legend: "none"}
 %>
</div>
<div class="col-sm-4">
 <%= pie_chart Truckmetric.where(date: "2014-03-01".to_datetime, equipment: "TR203").group(:status_category).sum(:duration), library: {title: "TR203", legend: "none"}
 %>
</div>
<div class="col-sm-4">
 <%= pie_chart Truckmetric.where(date: "2014-03-01".to_datetime, equipment: "TR204").group(:status_category).sum(:duration), library: {title: "TR204", legend: "none"}
 %>
</div>
<div class="col-sm-4">
 <%= pie_chart Truckmetric.where(date: "2014-03-01".to_datetime, equipment: "TR205").group(:status_category).sum(:duration), library: {title: "TR205", legend: "none"}
 %>
</div>
<div class="col-sm-4">
 <%= pie_chart Truckmetric.where(date: "2014-03-01".to_datetime, equipment: "TR206").group(:status_category).sum(:duration), library: {title: "TR206", legend: "none"}
 %>
</div>
<div class="col-sm-4">
 <%= pie_chart Truckmetric.where(date: "2014-03-01".to_datetime, equipment: "TR207").group(:status_category).sum(:duration), library: {title: "TR207", legend: "none"}
 %>
</div>
<div class="col-sm-4">
 <%= pie_chart Truckmetric.where(date: "2014-03-01".to_datetime, equipment: "TR208").group(:status_category).sum(:duration), library: {title: "TR208", legend: "none"}
 %>
</div>
<div class="col-sm-4">
 <%= pie_chart Truckmetric.where(date: "2014-03-01".to_datetime, equipment: "TR221").group(:status_category).sum(:duration), library: {title: "TR221", legend: "none"}
 %>
</div>
<div class="col-sm-4">
 <%= pie_chart Truckmetric.where(date: "2014-03-01".to_datetime, equipment: "TR222").group(:status_category).sum(:duration), library: {title: "TR222", legend: "none"}
 %>
</div>
<div class="col-sm-4">
 <%= pie_chart Truckmetric.where(date: "2014-03-01".to_datetime, equipment: "TR223").group(:status_category).sum(:duration), library: {title: "TR223", legend: "none"}
 %>
</div>
<div class="col-sm-4">
 <%= pie_chart Truckmetric.where(date: "2014-03-01".to_datetime, equipment: "TR224").group(:status_category).sum(:duration), library: {title: "TR224", legend: "none"}
 %>
</div>
<div class="col-sm-4">
 <%= pie_chart Truckmetric.where(date: "2014-03-01".to_datetime, equipment: "TRB004").group(:status_category).sum(:duration), library: {title: "TRB004", legend: "none"}
 %>
</div>
<div class="col-sm-4">
 <%= pie_chart Truckmetric.where(date: "2014-03-01".to_datetime, equipment: "TRB006").group(:status_category).sum(:duration), library: {title: "TRB006", legend: "none"}
 %>
</div>
<div class="col-sm-4">
 <%= pie_chart Truckmetric.where(date: "2014-03-01".to_datetime, equipment: "TRB041").group(:status_category).sum(:duration), library: {title: "TRB041", legend: "none"}
 %>
</div>
<div class="col-sm-4">
 <%= pie_chart Truckmetric.where(date: "2014-03-01".to_datetime, equipment: "TRB114").group(:status_category).sum(:duration), library: {title: "TRB114", legend: "none"}
 %>
</div>
<div class="col-sm-4">
 <%= pie_chart Truckmetric.where(date: "2014-03-01".to_datetime, equipment: "TRL3591").group(:status_category).sum(:duration), library: {title: "TRL3591", legend: "none"}
 %>
</div>
<div class="col-sm-4">
 <%= pie_chart Truckmetric.where(date: "2014-03-01".to_datetime, equipment: "TRL3592").group(:status_category).sum(:duration), library: {title: "TRL3592", legend: "none"}
 %>
</div>
<div class="col-sm-4">
 <%= pie_chart Truckmetric.where(date: "2014-03-01".to_datetime, equipment: "TRL3593").group(:status_category).sum(:duration), library: {title: "TRL3593", legend: "none"}
 %>
</div>
<div class="col-sm-4">
 <%= pie_chart Truckmetric.where(date: "2014-03-01".to_datetime, equipment: "TRL3594").group(:status_category).sum(:duration), library: {title: "TRL3594", legend: "none"}
 %>
</div>