<h1>Listing processtrucks</h1>

<p>
  <b>Download:</b>
  <%= link_to "CSV", processtrucks_path(format: "csv") %>
</p>

  <b>Upload:</b>
<%= form_tag import_processtrucks_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<br>

<%= form_tag("/processtrucks", method: "get") do %>
  <%= label_tag(:datetimestamp, "Specify Time:") %>
  <%= text_field_tag(:datetimestamp) %>
  <%= submit_tag("Search") %>
<% end %>

<br>

<table>
  <thead>
    <tr>
      <th>Time</th>
      <th>Truck1</th>
      <th>Truck2</th>
      <th>Truck3</th>
      <th>Truck4</th>
      <th>Truck5</th>
      <th>Truck6</th>
      <th>Truck7</th>
      <th>Truck8</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @processtrucks.each do |processtruck| %>
      <tr>
        <td><%= processtruck.time %></td>
        <td><%= processtruck.truck1 %></td>
        <td><%= processtruck.truck2 %></td>
        <td><%= processtruck.truck3 %></td>
        <td><%= processtruck.truck4 %></td>
        <td><%= processtruck.truck5 %></td>
        <td><%= processtruck.truck6 %></td>
        <td><%= processtruck.truck7 %></td>
        <td><%= processtruck.truck8 %></td>
        <td><%= link_to 'Show', processtruck %></td>
        <td><%= link_to 'Edit', edit_processtruck_path(processtruck) %></td>
        <td><%= link_to 'Destroy', processtruck, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Processtruck', new_processtruck_path %>
