<%= form_for(@truckmetric) do |f| %>
  <% if @truckmetric.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@truckmetric.errors.count, "error") %> prohibited this truckmetric from being saved:</h2>

      <ul>
      <% @truckmetric.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label :equipment %><br>
    <%= f.text_field :equipment %>
  </div>
  <div class="field">
    <%= f.label :status_category %><br>
    <%= f.text_field :status_category %>
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <%= f.date_field :duration %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
