<%= form_for(@truckmetric) do |f| %>
  <% if @truckmetric.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@truckmetric.errors.count, "error") %> prohibited this truckmetric from being saved:</h2>

      <ul>
      <% @truckmetric.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label :equipment %><br>
    <%= f.text_field :equipment %>
  </div>
  <div class="field">
    <%= f.label :delays %><br>
    <%= f.text_field :delays %>
  </div>
  <div class="field">
    <%= f.label :directoperating %><br>
    <%= f.text_field :directoperating %>
  </div>
  <div class="field">
    <%= f.label :indirectoperating %><br>
    <%= f.text_field :indirectoperating %>
  </div>
  <div class="field">
    <%= f.label :plannedmaintenance %><br>
    <%= f.text_field :plannedmaintenance %>
  </div>
  <div class="field">
    <%= f.label :standby %><br>
    <%= f.text_field :standby %>
  </div>
  <div class="field">
    <%= f.label :unplannedmaintenance %><br>
    <%= f.text_field :unplannedmaintenance %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
