<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @truckmetric.date %>
</p>

<p>
  <strong>Equipment:</strong>
  <%= @truckmetric.equipment %>
</p>

<p>
  <strong>Status Category:</strong>
  <%= @truckmetric.status_category %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @truckmetric.duration %>
</p>


<%= link_to 'Edit', edit_truckmetric_path(@truckmetric) %> |
<%= link_to 'Back', truckmetrics_path %>
