<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @optloader.time %>
</p>

<p>
  <strong>Truck:</strong>
  <%= @optloader.truck %>
</p>

<p>
  <strong>Color:</strong>
  <%= @optloader.color %>
</p>

<%= link_to 'Edit', edit_optloader_path(@optloader) %> |
<%= link_to 'Back', optloaders_path %>
