<h1>Listing opt1s</h1>


<p>
  <b>Download:</b>
  <%= link_to "CSV", opt1s_path(format: "csv") %>
</p>

  <b>Upload:</b>
<%= form_tag import_opt1s_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<br>

<%= form_tag("/opt1s", method: "get") do %>
  <%= label_tag(:datetimestamp, "Specify Time:") %>
  <%= text_field_tag(:datetimestamp) %>
  <%= submit_tag("Search") %>
<% end %>

<br>


<table>
  <thead>
    <tr>
      <th>Truck</th>
      <th>Time</th>
      <th>Percentage</th>
      <th>Color</th>
      <th>Hidden</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @opt1s.each do |opt1| %>
      <tr>
        <td><%= opt1.truck %></td>
        <td><%= opt1.time %></td>
        <td><%= opt1.percentage %></td>
        <td><%= opt1.color %></td>
        <td><%= opt1.hidden %></td>
        <td><%= link_to 'Show', opt1 %></td>
        <td><%= link_to 'Edit', edit_opt1_path(opt1) %></td>
        <td><%= link_to 'Destroy', opt1, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Opt1', new_opt1_path %>
