<p id="notice"><%= notice %></p>

<p>
  <strong>Truck:</strong>
  <%= @opt1.truck %>
</p>

<p>
  <strong>Time:</strong>
  <%= @opt1.time %>
</p>

<p>
  <strong>Percentage:</strong>
  <%= @opt1.percentage %>
</p>

<p>
  <strong>Color:</strong>
  <%= @opt1.color %>
</p>

<p>
  <strong>Hidden:</strong>
  <%= @opt1.hidden %>
</p>

<%= link_to 'Edit', edit_opt1_path(@opt1) %> |
<%= link_to 'Back', opt1s_path %>
