<%= form_for(@loader_status) do |f| %>
  <% if @loader_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@loader_status.errors.count, "error") %> prohibited this loader_status from being saved:</h2>

      <ul>
      <% @loader_status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :time %><br>
    <%= f.text_field :time %>
  </div>
  <div class="field">
    <%= f.label :button1 %><br>
    <%= f.text_field :button1 %>
  </div>
  <div class="field">
    <%= f.label :button2 %><br>
    <%= f.text_field :button2 %>
  </div>
  <div class="field">
    <%= f.label :button3 %><br>
    <%= f.text_field :button3 %>
  </div>
  <div class="field">
    <%= f.label :button4 %><br>
    <%= f.text_field :button4 %>
  </div>
  <div class="field">
    <%= f.label :button5 %><br>
    <%= f.text_field :button5 %>
  </div>
  <div class="field">
    <%= f.label :button6 %><br>
    <%= f.text_field :button6 %>
  </div>
  <div class="field">
    <%= f.label :button7 %><br>
    <%= f.text_field :button7 %>
  </div>
  <div class="field">
    <%= f.label :button8 %><br>
    <%= f.text_field :button8 %>
  </div>
  <div class="field">
    <%= f.label :button9 %><br>
    <%= f.text_field :button9 %>
  </div>
  <div class="field">
    <%= f.label :button10 %><br>
    <%= f.text_field :button10 %>
  </div>
  <div class="field">
    <%= f.label :button11 %><br>
    <%= f.text_field :button11 %>
  </div>
  <div class="field">
    <%= f.label :button12 %><br>
    <%= f.text_field :button12 %>
  </div>
  <div class="field">
    <%= f.label :button13 %><br>
    <%= f.text_field :button13 %>
  </div>
  <div class="field">
    <%= f.label :button14 %><br>
    <%= f.text_field :button14 %>
  </div>
  <div class="field">
    <%= f.label :button15 %><br>
    <%= f.text_field :button15 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
