<h1>Listing loader_statuses</h1>


<p>
  <b>Download:</b>
  <%= link_to "CSV", loader_statuses_path(format: "csv") %>
</p>

  <b>Upload:</b>
<%= form_tag import_loader_statuses_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<br>

<%= form_tag("/loader_statuses", method: "get") do %>
  <%= label_tag(:datetimestamp, "Specify Time:") %>
  <%= text_field_tag(:datetimestamp) %>
  <%= submit_tag("Search") %>
<% end %>

<br>

<table>
  <thead>
    <tr>
      <th>Time</th>
      <th>Button1</th>
      <th>Button2</th>
      <th>Button3</th>
      <th>Button4</th>
      <th>Button5</th>
      <th>Button6</th>
      <th>Button7</th>
      <th>Button8</th>
      <th>Button9</th>
      <th>Button10</th>
      <th>Button11</th>
      <th>Button12</th>
      <th>Button13</th>
      <th>Button14</th>
      <th>Button15</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @loader_statuses.each do |loader_status| %>
      <tr>
        <td><%= loader_status.time %></td>
        <td><%= loader_status.button1 %></td>
        <td><%= loader_status.button2 %></td>
        <td><%= loader_status.button3 %></td>
        <td><%= loader_status.button4 %></td>
        <td><%= loader_status.button5 %></td>
        <td><%= loader_status.button6 %></td>
        <td><%= loader_status.button7 %></td>
        <td><%= loader_status.button8 %></td>
        <td><%= loader_status.button9 %></td>
        <td><%= loader_status.button10 %></td>
        <td><%= loader_status.button11 %></td>
        <td><%= loader_status.button12 %></td>
        <td><%= loader_status.button13 %></td>
        <td><%= loader_status.button14 %></td>
        <td><%= loader_status.button15 %></td>
        <td><%= link_to 'Show', loader_status %></td>
        <td><%= link_to 'Edit', edit_loader_status_path(loader_status) %></td>
        <td><%= link_to 'Destroy', loader_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Loader status', new_loader_status_path %>
