<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @loader_status.time %>
</p>

<p>
  <strong>Button1:</strong>
  <%= @loader_status.button1 %>
</p>

<p>
  <strong>Button2:</strong>
  <%= @loader_status.button2 %>
</p>

<p>
  <strong>Button3:</strong>
  <%= @loader_status.button3 %>
</p>

<p>
  <strong>Button4:</strong>
  <%= @loader_status.button4 %>
</p>

<p>
  <strong>Button5:</strong>
  <%= @loader_status.button5 %>
</p>

<p>
  <strong>Button6:</strong>
  <%= @loader_status.button6 %>
</p>

<p>
  <strong>Button7:</strong>
  <%= @loader_status.button7 %>
</p>

<p>
  <strong>Button8:</strong>
  <%= @loader_status.button8 %>
</p>

<p>
  <strong>Button9:</strong>
  <%= @loader_status.button9 %>
</p>

<p>
  <strong>Button10:</strong>
  <%= @loader_status.button10 %>
</p>

<p>
  <strong>Button11:</strong>
  <%= @loader_status.button11 %>
</p>

<p>
  <strong>Button12:</strong>
  <%= @loader_status.button12 %>
</p>

<p>
  <strong>Button13:</strong>
  <%= @loader_status.button13 %>
</p>

<p>
  <strong>Button14:</strong>
  <%= @loader_status.button14 %>
</p>

<p>
  <strong>Button15:</strong>
  <%= @loader_status.button15 %>
</p>

<%= link_to 'Edit', edit_loader_status_path(@loader_status) %> |
<%= link_to 'Back', loader_statuses_path %>
