<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @loader_status.time %>
</p>

<p>
  <strong>Button-1:</strong>
  <%= @loader_status.button-1 %>
</p>

<p>
  <strong>Button-2:</strong>
  <%= @loader_status.button-2 %>
</p>

<p>
  <strong>Button-3:</strong>
  <%= @loader_status.button-3 %>
</p>

<p>
  <strong>Button-4:</strong>
  <%= @loader_status.button-4 %>
</p>

<p>
  <strong>Button-5:</strong>
  <%= @loader_status.button-5 %>
</p>

<p>
  <strong>Button-6:</strong>
  <%= @loader_status.button-6 %>
</p>

<p>
  <strong>Button-7:</strong>
  <%= @loader_status.button-7 %>
</p>

<p>
  <strong>Button-8:</strong>
  <%= @loader_status.button-8 %>
</p>

<p>
  <strong>Button-9:</strong>
  <%= @loader_status.button-9 %>
</p>

<p>
  <strong>Button-10:</strong>
  <%= @loader_status.button-10 %>
</p>

<p>
  <strong>Button-11:</strong>
  <%= @loader_status.button-11 %>
</p>

<p>
  <strong>Button-12:</strong>
  <%= @loader_status.button-12 %>
</p>

<p>
  <strong>Button-13:</strong>
  <%= @loader_status.button-13 %>
</p>

<p>
  <strong>Button-14:</strong>
  <%= @loader_status.button-14 %>
</p>

<p>
  <strong>Button-15:</strong>
  <%= @loader_status.button-15 %>
</p>

<%= link_to 'Edit', edit_loader_status_path(@loader_status) %> |
<%= link_to 'Back', loader_statuses_path %>
