<p id="notice"><%= notice %></p>

<p>
  <strong>Truck:</strong>
  <%= @opttuck.truck %>
</p>

<p>
  <strong>Time:</strong>
  <%= @opttuck.time %>
</p>

<p>
  <strong>Percentage:</strong>
  <%= @opttuck.percentage %>
</p>

<%= link_to 'Edit', edit_opttuck_path(@opttuck) %> |
<%= link_to 'Back', opttucks_path %>
