<h1>Listing opttrucks</h1>

<p>
  <b>Download:</b>
  <%= link_to "CSV", opttrucks_path(format: "csv") %>
</p>

  <b>Upload:</b>
<%= form_tag import_opttrucks_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<br>

<%= form_tag("/opttrucks", method: "get") do %>
  <%= label_tag(:datetimestamp, "Specify Time:") %>
  <%= text_field_tag(:datetimestamp) %>
  <%= submit_tag("Search") %>
<% end %>

<br>

<table>
  <thead>
    <tr>
      <th>Truck</th>
      <th>Time</th>
      <th>Percentage</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @opttrucks.each do |opttruck| %>
      <tr>
        <td><%= opttruck.truck %></td>
        <td><%= opttruck.time %></td>
        <td><%= opttruck.percentage %></td>
        <td><%= link_to 'Show', opttruck %></td>
        <td><%= link_to 'Edit', edit_opttruck_path(opttruck) %></td>
        <td><%= link_to 'Destroy', opttruck, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Opttruck', new_opttruck_path %>
